@media(max-width: 900px){
    body{
        width:900px;
    }
    nav{
        background-color: rgb(45, 42, 56);
    }
    .header{
        text-align: center;
        padding:10px;
    }
    #background-image img{
        width:100%;
        height:450px;
    }
    .places{
        display: flex;
        justify-content: center;
        width:100%;
    }
    .trips{
        margin:39px;
    }
    #santorini img{
        height:225px;
        width:225px;
    }
    #venice img{
        height:225px;
        width:225px;
    }
    .label{
        background-color: white;
        padding: 10px;
        margin-top: -3px;
        width:206px;
        text-align: center;
    }
    #amalfi-coast img{
        height:225px;
        width:225px;
    }
    #havasu-falls img{
        height:225px;
        width:225px;
    }
    #zayed-grand img{
        height:225px;
        width:225px;
    }
    #lisbon img{
        height:225px;
        width:225px;
    }
    #cape-town img{
        height:225px;
        width:225px;
    }
    #paris img{
        height:225px;
        width:225px;
    }
    #marrakesh img{
        height:225px;
        width:225px;
    }
    #description-paragraph{
        text-align: center;
        width:800px;
        margin-left: 70px;
    }
    #description-paragraph p{
        text-align: justify;

    }
    .description-section{
        background-color: lightgrey;
        height:auto;
        margin:-20px;
        width:900px;
    }
    #description h2{
        text-align: center;
        padding:25px;
    }
    h1{
        text-align:left;
        margin: 59px;
        margin-bottom: 40px;
    }
    #me{
        width:800px;
        height:auto;
        margin-left: 45px;
    }
    footer{
        background-color: black;
        width: 900px;
        height:100px; 
        margin-top: 32px;
    }
    .want h1{
        font-size: 31px;
    }
}
@media(max-width: 750px){
    body{
        width: 750px;
    }
    nav{
        background-color: rgb(69, 61, 95);
    }
    .header{
        text-align: center;
        padding:10px;
    }
    #background-image img{
        width:100%;
        height:400px;
    }
    .places{
        display: flex;
        justify-content: center;
        width:100%;
    }
    .trips{
        margin:28px;
    }
    #santorini img{
        height:170px;
        width:180px;
    }
    #venice img{
        height:170px;
        width:180px;
    }
    .label{
        background-color: white;
        padding: 10px;
        margin-top: -3px;
        width:160px;
        text-align: center;
    }
    #amalfi-coast img{
        height:170px;
        width:180px;
    }
    #havasu-falls img{
        height:170px;
        width:180px;
    }
    #zayed-grand img{
        height:170px;
        width:180px;
    }
    #lisbon img{
        height:170px;
        width:180px;
    }
    #cape-town img{
        height:170px;
        width:180px;
    }
    #paris img{
        height:170px;
        width:180px;
    }
    #marrakesh img{
        height:170px;
        width:180px;
    }
    #description-paragraph{
        text-align: center;
        width:690px;
        margin-left: 50px;
    }
    #description-paragraph p{
        text-align: justify;

    }
    .description-section{
        background-color: lightgrey;
        height:auto;
        margin:-17px;
        width:750px;
    }
    #description h2{
        text-align: center;
        padding:20px;
    }
    h1{
        text-align:left;
        margin: 45px;
        margin-bottom: 30px;
    }
    #me{
        width:670px;
        height:auto;
        margin-left: 35px;
    }
    footer{
        background-color: black;
        width: 750px;
        height:100px; 
        margin-top: 29px;
    }
    .want h1{
        font-size: 25px;
    }
}
@media(max-width: 500px){
    body{
        width: 500px;
    }
    nav{
        background-color: rgb(74, 69, 90);
        width:500px;
    }
    .header{
        text-align: center;
        padding:10px;
    }
    #background-image img{
        width:500px;
        height:350px;
    }
    .places{
        display: flex;
        justify-content:space-around;
        width:500px;
    }
    .trips{
        margin:17px;
    }
    #santorini img{
        height:131px;
        width:131px;
    }
    #venice img{
        height:131px;
        width:131px;
    }
    .label{
        background-color: white;
        padding: 10px;
        margin-top: -3px;
        width:113px;
        text-align: center;
        font-size: 14px;
    }
    #amalfi-coast img{
        height:131px;
        width:131px;
    }
    #havasu-falls img{
        height:131px;
        width:131px;
    }
    #zayed-grand img{
        height:131px;
        width:131px;
    }
    #lisbon img{
        height:131px;
        width:131px;
    }
    #cape-town img{
        height:131px;
        width:131px;
    }
    #paris img{
        height:131px;
        width:131px;
    }
    #marrakesh img{
        height:131px;
        width:131px;
    }
    #description-paragraph{
        text-align: center;
        width:450px;
        margin-left: 35px;
    }
    #description-paragraph p{
        text-align: justify;

    }
    .description-section{
        background-color: lightgrey;
        height:auto;
        margin:-13px;
        width:500px;
    }
    #description h2{
        text-align: center;
        padding:15px;
    }
    h1{
        text-align:left;
        margin: 35px;
        margin-bottom: 20px;
    }
    #me{
        width:425px;
        height:auto;
        margin-left: 30px;
    }
    footer{
        background-color: black;
        width: 450px;
        height:100px; 
        margin-top: 25px;
    }
    .want h1{
        font-size: 20px;
    }
}
@media(max-width: 450px){
    body{
        width: 450px;
    }
    nav{
        background-color: rgb(71, 67, 83);
        width:450px;
    }
    .header{
        text-align: center;
        padding:10px;
    }
    #background-image img{
        width:450px;
        height:300px;
    }
    .places{
        display: flex;
        justify-content:space-around;
        width:450px;
    }
    .trips{
        margin:6px;
    }
    #santorini img{
        height:120px;
        width:120px;
    }
    #venice img{
        height:120px;
        width:120px;
    }
    .label{
        background-color: white;
        padding: 10px;
        margin-top: -3px;
        width:100px;
        text-align: center;
        font-size: 13px;
    }
    #amalfi-coast img{
        height:120px;
        width:120px;
    }
    #havasu-falls img{
        height:120px;
        width:120px;
    }
    #zayed-grand img{
        height:120px;
        width:120px;
    }
    #lisbon img{
        height:120px;
        width:120px;
    }
    #cape-town img{
        height:120px;
        width:120px;
    }
    #paris img{
        height:120px;
        width:120px;
    }
    #marrakesh img{
        height:120px;
        width:120px;
    }
    #description-paragraph{
        text-align: center;
        width:419px;
        margin-left: 28px;
    }
    #description-paragraph p{
        text-align: justify;

    }
    .description-section{
        background-color: lightgrey;
        height:auto;
        margin:-10px;
        width:450px;
    }
    #description h2{
        text-align: center;
        padding:10px;
    }
    h1{
        text-align:left;
        margin: 30px;
        margin-bottom: 15px;
    }
    #me{
        width:419px;
        height:auto;
        margin-left: 17px;
    }
    footer{
        background-color: black;
        width: 450px;
        height:50px; 
        margin-top: 19px;
    }
    .want h1{
        font-size: 20px;
    }
}